<aside style="background-color: rgb(20, 20, 20);width:auto;">
    <br>
    <center>
    <p>All rights reserved</p>
    &copy Alexandre Metge
    <a href='/images/cat-pop.jpg' download >Download our terms and conditions</a>
    </center>
    <br>
</aside>
