<center><br><h3 class="Title">This Season Format</h3><br>
<ul class="news" style="width: fit-content;">
    <li><img src="/images/arrow-right.svg" style="width:20px;height:20px;">10 maps</li>
    <li><img src="/images/arrow-right.svg" style="width:20px;height:20px;">A 2 minutes warmup per map</li>
    <li><img src="/images/arrow-right.svg" style="width:20px;height:20px;">4 rounds per map</li>
    <li><img src="/images/arrow-right.svg" style="width:20px;height:20px;">Final ranking is based on points accumulated every round</li>
</ul>
<br>
<h3 class="Title">Maps</h3><br>
<div class="news">This season there's a new mapping system which allows to get up to 5 different mappers in one edition!
Each one of the 10 maps has its own theme and a bot that we made decides who makes each map among the mappers.</div>
<br>
<ul class="news" style="width: fit-content;">  
    <b><u>Here are the themes for each map:</u></b>
    <li><b>Tech</b> (the map is around 90% tech road)</li>
    <li><b>Off Road</b> (the map is around 90% dirt and/or grass)</li>
    <li><b>Ice</b> (the map is around 90% ice)</li>
    <li><b>Mixed</b> (the map has to contains these 4 surfaces: Dirt, Grass, Tech Road, Ice. It also has to be multilap)</li>
    <li><b>Zlide</b> (the map should not contains the same block more than once)</li>
    <li><b>Short</b> (the map should not contains more than 10 blocks)</li>
    <li><b>Beach</b> (the map must be made out of Water, Dirt, Plastic, Moving Blocks and Tech Road)</li>
    <li><b>Daytona</b> (the map should only have right turns and must be a multilap)</li>
    <li><b>Flat</b> (the map must be one block thick on the axis of the mapper's choice (X or Y))</li>
    <li><b>Free Mapping</b> (the mapper can do whatever he wants)</li>
</ul>
<br>
</center>