<div class="center">
    <center><h3 class="Title" style="width:fit-content;">Thank you, you have been registered for this week edition!</h3></center><br>
    
    <ul class="news" style="width: fit-content;max-height:324px;overflow-y:scroll;">
        <b><u>
                <h4>List of participants</h4>
            </u></b>
        {{>playerlist list=playerlist}}
    </ul>
</div>
