<center>
    <br>
    <div class="Title"><h2>Welcome to the <span style="color: #aa0eaa">Zlide </span><span style="color: #868686">cup </span> website</h2> </div>
    <br>
</center>
<div class = "lastvisit">
{{#if message}}
        <span style="color: #000000">{{message}}</span>
    {{/if}}
</div>
<br><br>
<center>
    {{> news}}
</center>
