<div class="center">
    <ul>
        {{#each personlist}}
        <center><a class="custom-links" href=/staff/{{this.name}}>
                <div class="Title">
                    <li>
                        <h2 style="text-transform:capitalize;">{{this.name}}</h2>
                    </li>
                </div>
            </a>
        </center><br>
        {{/each}}
    </ul>
</div>