<center>
    <br>
    <h2 class="Title"> All about <span style="text-transform:capitalize;">{{person.name}}</span></h2>

    <div class="container center">
        <!--First-->
        <div class="card">
            <div class="adjust">
                <img src={{person.imageurl}} alt="profile img" class="rounded-circle" style="width:80px;height:80px;">
                <h1 class="text-white" style="text-transform:capitalize;">{{person.name}} <img
                        src="https://cdn.discordapp.com/attachments/591157769181069332/752622240486522943/check.png"
                        style="width:16px;height:16px;"></h1>
                <span style="color:white;">{{person.description}}</span>
            </div>
            <!--Third-->
            <div class="card-body third">
                <p class="text-social">Join Our Server</p>
                <button type="button" onclick="location.href='https://discord.gg/fAxK7pTP6C';" class="btn">
                    <img src="/images/logo.png" alt="server icon" class="rounded-circle social"
                        style="width:40px;height:40px;">
                    <p class="text-server"> Zlide Cup Server</p>
                </button>
            </div>
        </div>
    </div>
</center>