<div class="center">
    <center><h3 class="Title" style="width:fit-content;">You have been successfully unregistered</h3></center><br>
    
    <ul class="news" style="width: fit-content;max-height:324px;overflow-y:scroll;">
        <b><u>
                <h4>List of participants</h4>
            </u></b>
        {{>playerlist list=playerlist}}
    </ul>
</div>